# リッジ回帰を行う

## 準備

In [1]:
import pandas as pd
import numpy as np
import glob
from sklearn.linear_model import Ridge

In [2]:
stock_name_list = glob.glob("../output/*.csv")
stock_name_list

['../output\\LSIML_RV_mitsuifin_1sec.csv',
 '../output\\LSIML_RV_mitsuifin_5sec.csv']

In [3]:
df = pd.read_csv(stock_name_list[0])
df

,date,RV_sec1,LSIML_b=10,LSIML_b=50,LSIML_b=100,Num_jump_b=10,Num_jump_b=50,Num_jump_b=100,Size_jump_b=10,Size_jump_b=50,Size_jump_b=100
0,2018-09-03,0.000100,0.000034,0.000046,0.000046,1,4,6,0.000012,0.000024,0.000025
1,2018-09-04,0.000152,0.000040,0.000041,0.000047,1,5,9,0.000027,0.000028,0.000032
2,2018-09-05,0.000086,0.000025,0.000031,0.000036,1,4,8,0.000014,0.000017,0.000018
3,2018-09-06,0.000094,0.000038,0.000034,0.000039,0,4,6,0.000000,0.000011,0.000011
4,2018-09-07,0.000123,0.000039,0.000055,0.000044,2,3,14,0.000044,0.000023,0.000038
...,...,...,...,...,...,...,...,...,...,...,...
699,2021-07-26,0.000125,0.000025,0.000035,0.000046,1,4,5,0.000018,0.000016,0.000018
700,2021-07-27,0.000091,0.000023,0.000024,0.000031,1,4,5,0.000012,0.000013,0.000011
701,2021-07-28,0.000105,0.000031,0.000035,0.000044,1,6,7,0.000011,0.000019,0.000015
702,2021-07-29,0.000089,0.000027,0.000036,0.000035,1,4,9,0.000012,0.000019,0.000019
703,2021-07-30,0.000098,0.000019,0.000032,0.000036,2,5,8,0.000022,0.000015,0.000016

## データを読み込み、加工する

In [4]:
LSIML = df["LSIML_b=50"] + df["Size_jump_b=50"]
LSIML

0      0.000070
1      0.000069
2      0.000048
3      0.000045
4      0.000078
         ...
699    0.000051
700    0.000037
701    0.000054
702    0.000055
703    0.000047
Length: 704, dtype: float64

### 移動平均, 一日ずれデータを計算する

In [5]:
week = LSIML.rolling(5).mean().shift()
month = LSIML.rolling(22).mean().shift()

In [6]:
month.dropna()

22     0.000075
23     0.000077
24     0.000083
25     0.000085
26     0.000089
         ...
699    0.000053
700    0.000050
701    0.000050
702    0.000049
703    0.000050
Length: 682, dtype: float64

In [7]:
shifted_LSIML = LSIML.shift()
shifted_LSIML

0           NaN
1      0.000070
2      0.000069
3      0.000048
4      0.000045
         ...
699    0.000057
700    0.000051
701    0.000037
702    0.000054
703    0.000055
Length: 704, dtype: float64

In [8]:
data = pd.concat([LSIML, shifted_LSIML, week, month], axis=1)
data.columns = ["tom", "tod", "week", "month"]
data

          tom       tod      week     month
0    0.000070       NaN       NaN       NaN
1    0.000069  0.000070       NaN       NaN
2    0.000048  0.000069       NaN       NaN
3    0.000045  0.000048       NaN       NaN
4    0.000078  0.000045       NaN       NaN
..        ...       ...       ...       ...
699  0.000051  0.000057  0.000054  0.000053
700  0.000037  0.000051  0.000055  0.000050
701  0.000054  0.000037  0.000052  0.000050
702  0.000055  0.000054  0.000055  0.000049
703  0.000047  0.000055  0.000051  0.000050

[704 rows x 4 columns]

### 対数を取る

In [9]:
data["log_tom"] = np.log(data["tom"])
data["log_tod"] = np.log(data["tod"])
data["log_week"] = np.log(data["week"])
data["log_month"] = np.log(data["month"])
data

,tom,tod,week,month,log_tom,log_tod,log_week,log_month
0,0.000070,NaN,NaN,NaN,-9.572020,NaN,NaN,NaN
1,0.000069,0.000070,NaN,NaN,-9.582794,-9.572020,NaN,NaN
2,0.000048,0.000069,NaN,NaN,-9.953234,-9.582794,NaN,NaN
3,0.000045,0.000048,NaN,NaN,-10.009332,-9.953234,NaN,NaN
4,0.000078,0.000045,NaN,NaN,-9.454951,-10.009332,NaN,NaN
...,...,...,...,...,...,...,...,...
699,0.000051,0.000057,0.000054,0.000053,-9.874341,-9.766005,-9.822059,-9.836261
700,0.000037,0.000051,0.000055,0.000050,-10.203925,-9.874341,-9.812816,-9.895534
701,0.000054,0.000037,0.000052,0.000050,-9.822236,-10.203925,-9.865343,-9.908713
702,0.000055,0.000054,0.000055,0.000049,-9.805023,-9.822236,-9.815572,-9.923729
703,0.000047,0.000055,0.000051,0.000050,-9.956589,-9.805023,-9.882593,-9.908978

### ジャンプサイズ

In [10]:
data["jump"] = df["Size_jump_b=50"].shift()

### 日次データを読み込む

In [11]:
daily_data = pd.read_csv("../daily_data\Daily_Price_mitsuifin.csv").shift()
daily_data

           date  log_price  daily_return
0           NaN        NaN           NaN
1    2018-09-03   8.381144           NaN
2    2018-09-04   8.377701     -0.003443
3    2018-09-05   8.373092     -0.004609
4    2018-09-06   8.373092      0.000000
..          ...        ...           ...
699  2021-07-21   8.209852      0.001361
700  2021-07-26   8.214194      0.004342
701  2021-07-27   8.226306      0.012112
702  2021-07-28   8.222016     -0.004290
703  2021-07-29   8.221479     -0.000537

[704 rows x 3 columns]

In [12]:
asym_list = []
for i in range(len(daily_data)):
    asym_list.append(min([0, daily_data["daily_return"].iloc[i]]))

asym_list

[0,
 0,
 -0.0034431343553222,
 -0.0046093651556589,
 0,
 -0.0041666726948452,
 0,
 -0.0009233610997689,
 -0.0041657084077009,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -0.0240871860382654,
 -0.0107233766374648,
 0,
 0,
 -0.0002165674074507,
 -0.0170384200505235,
 0,
 0,
 -0.0121446043640141,
 0,
 -0.0422536721838646,
 -0.013212598435464,
 -0.020267117481465,
 0,
 0,
 -0.0022341385521613,
 -0.0047080010736948,
 0,
 -0.0194840780832414,
 -0.015446993021694,
 -0.0173428298012954,
 0,
 -0.0061393345135094,
 0,
 0,
 0,
 0,
 -0.0033978965754055,
 0,
 -0.0056173611367302,
 0,
 0,
 -0.0042114658279288,
 -0.0274730180961846,
 0,
 -0.0309480286208252,
 -0.0051353987743301,
 -0.0212874642018263,
 0,
 -0.0088633949516445,
 -0.0021678919727357,
 -0.0041077742913024,
 0,
 0,
 -0.0019093084559198,
 -0.0007169315637458,
 0,
 -0.0276692738597965,
 -0.0046460531061303,
 -0.01158647252484,
 -0.0074664358807936,
 -0.0102951317340771,
 -0.0162853471909905,
 0,
 0,
 -0.0068693820566956,
 0,
 -0.0163812211834581,
 -0.0062128079725383,
 -0.0260438236887949,
 -0.0223698857708321,
 -0.0318454156406851,
 -0.0022535220804442,
 0,
 -0.0084688390328189,
 0,
 0,
 0,
 0,
 0,
 -0.0002618829398226,
 0,
 -0.0077579908109406,
 0,
 0,
 0,
 -0.0068502107273982,
 0,
 0,
 0,
 -0.0017458540411539,
 0,
 -0.0047222655170831,
 0,
 -0.0255396956149649,
 0,
 -0.006801890439041,
 0,
 -0.0096276396053855,
 -0.0172041732101195,
 0,
 0,
 -0.0027669493190813,
 -0.0083470827374974,
 0,
 0,
 -0.0017307458888282,
 -0.0019816702051063,
 -0.0077162797296885,
 -0.0017506569433045,
 -0.0052704350886116,
 -0.0022672890428143,
 -0.0058176463562826,
 0,
 0,
 0,
 -0.0042826617920006,
 -0.0178303246373623,
 -0.0158013908098624,
 0,
 0,
 -0.0028201531317755,
 0,
 0,
 0,
 0,
 0,
 -0.0067022715827054,
 -0.0252220179559579,
 0,
 -0.0240062065230475,
 -0.0064143901776638,
 -0.0023192897910906,
 0,
 0,
 0,
 -0.0002487252842087,
 0,
 -0.0099404397052502,
 -0.0042547930537555,
 -0.0080584671796017,
 -0.0158005325912977,
 0,
 0,
 -0.0017532878630373,
 0,
 0,
 -0.0041774234481017,
 0,
 -0.0017252006743522,
 -0.0116612163758009,
 0,
 -0.0022357480434536,
 -0.0002487252842087,
 -0.0132717610987356,
 -0.0175465404468244,
 -0.0046284474501874,
 -0.0098420892888171,
 -0.0070523996099449,
 0,
 -0.0057561645066961,
 0,
 0,
 -0.0038895420486628,
 -0.0005197505314509,
 -0.0070432011516743,
 -0.0013097578820637,
 0,
 0,
 -0.0122317725427603,
 0,
 -0.013391298972559,
 -0.0114317342244518,
 -0.0002674154314643,
 0,
 -0.0039551798429275,
 0,
 -0.002376238741883,
 0,
 -0.005239729043204,
 -0.009501259124141,
 0,
 -0.0026518180482941,
 -0.001328550746761,
 0,
 -0.006600684031353,
 -0.0055784445366704,
 0,
 -0.001863933438063,
 0,
 0,
 0,
 0,
 0,
 -0.008851919294381,
 0,
 0,
 -0.000780944983072,
 -0.0026075634070803,
 0,
 -0.0028694424279525,
 0,
 -0.0041753714104793,
 0,
 -0.0139091600751832,
 0,
 0,
 0,
 -0.0026021352179519,
 0,
 -0.0005202913749009,
 -0.0015625003178918,
 0,
 -0.0096720137076857,
 0,
 -0.0211648111920421,
 -0.0148150857851412,
 -0.004896636552111,
 0,
 -0.0057369369202966,
 -0.0068728792877621,
 -0.0251409889581015,
 -0.0065276235756659,
 -0.0128960090699834,
 -0.004915435659619,
 0,
 0,
 -0.0100647866161391,
 -0.0005782018085351,
 0,
 -0.0139294184887663,
 0,
 -0.0023316827818415,
 0,
 0,
 -0.0025865799735012,
 0,
 -0.0037447832902248,
 0,
 0,
 0,
 0,
 0,
 -0.0007956504862125,
 0,
 0,
 -0.0065902439651619,
 0,
 0,
 -0.0031620579706483,
 0,
 0,
 -0.0248690065111176,
 -0.010231645532281,
 0,
 -0.004845231551652,
 -0.0103065734689504,
 -0.0057416425676759,
 -0.0082599588565823,
 0,
 -0.0038663400828546,
 0,
 0,
 0,
 0,
 -0.0050646516363013,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -0.002809349312919,
 -0.0077022203620931,
 -0.0049089363530825,
 0,
 0,
 0,
 0,
 0,
 0,
 -0.0032254090733658,
 -0.0120001440031103,
 0,
 0,
 0,
 -0.0120272058665307,
 0,
 -0.0015128595926299,
 0,
 0,
 0,
 -0.0017436796048269,
 -0.0055000138646459,
 0,
 -0.001498127621021,
 -0.0040060143709386,
 0,
 0,
 0,
 -0.0014955137383534,
 -0.0087686895307452,
 -0.0037816760056319,
 0,
 0,
 0,
 -0.0050915372448905,
 -0.0024336833622964,
 -0.0009751341582067,
 -0.0098040000966204,
 -0.0044433546322117,
 -0.0034696441251131,
 0,
 0,
 -0.0066642231091282,
 -0.0147189884458551,
 0,
 -0.0060316845344026,
 0,
 -0.0017380513375915,
 -0.0064821967192294,
 -0.0075320466555819,
 -0.0070814661127833,
 0,
 0,
 -0.0070636015187499,
 0,
 -0.0111818191750128,
 0,
 -0.0107914716327641,
 -0.0023276875891884,
 0,
 -0.0090474961224753,
 0,
 -0.004127972838031,
 0,
 0,
 0,
 -0.0027781303383864,
 -0.0012653424439115,
 -0.0053319918122944,
 -0.0092072261684599,
 -0.0064441516985986,
 -0.0059655215171137,
 -0.0123022098583813,
 -0.0121888101499152,
 0,
 0,
 -0.0308382565156684,
 -0.0116055461203075,
 -0.0187970185820915,
 -0.0134000579559927,
 -0.007779898050769,
 -0.0157437654207193,
 -0.0213848363072255,
 -0.0066265302720669,
 -0.0410234855545859,
 -0.0938471447687536,
 0,
 0,
 -0.0568601645609927,
 -0.0553602777381758,
 0,
 0,
 -0.0189651047364582,
 -0.0199175104027453,
 0,
 0,
 0,
 -0.0231432288588209,
 0,
 -0.0649247399466839,
 -0.0474640124486391,
 -0.0105395245995891,
 -0.0143580270221379,
 -0.0033277900926744,
 0,
 0,
 -0.010332195237205,
 0,
 0,
 -0.019580547251274,
 0,
 -0.0212261603352272,
 -0.0268582875028693,
 0,
 0,
 -0.011860776553191,
 -0.0125693428570423,
 0,
 -0.0036704023587965,
 0,
 0,
 0,
 -0.0379837850747373,
 -0.0100946071480008,
 0,
 0,
 -0.0215370851443834,
 0,
 -0.0260322336510343,
 -0.0005534544924969,
 0,
 0,
 -0.0065292328174733,
 -0.0020707513870599,
 -0.0198890017294006,
 0,
 0,
 0,
 0,
 -0.022508479171087,
 -0.0090177744756871,
 0,
 0,
 0,
 0,
 0,
 -0.0073260400920727,
 -0.02200505085138,
 -0.0354994436288116,
 -0.0185510743667869,
 -0.0147061473896954,
 0,
 -0.014263807724907,
 -0.0106751406223448,
 -0.008877674032016,
 -0.0079936476807471,
 0,
 -0.0070400290763554,
 -0.0299892095612595,
 0,
 -0.020382033648751,
 0,
 -0.0072823890193394,
 0,
 0,
 0,
 -0.0119491168227288,
 -0.0137391758833036,
 -0.006941029354234,
 -0.0116765296618357,
 0,
 0,
 0,
 0,
 -0.0141754951013606,
 -0.0052049564483027,
 -0.0058881426252224,
 -0.0046037568980583,
 -0.0023098508867587,
 -0.0111287586563122,
 -0.0046877701783731,
 -0.0322306012448336,
 -0.0299054827789051,
 0,
 0,
 -0.004140792666031,
 0,
 0,
 0,
 0,
 -0.0012882449446678,
 -0.0058177281088909,
 -0.0055257738523408,
 -0.0121332854293445,
 0,
 -0.0069387359179025,
 -0.0026560440581171,
 0,
 0,
 0,
 -0.0172166019632307,
 0,
 0,
 0,
 -0.0022410766543128,
 0,
 0,
 -0.0009549578952672,
 -0.0060693366315209,
 -0.0256382694515409,
 0,
 -0.0009713453896331,
 0,
 0,
 -0.0093293261500662,
 0,
 0,
 -0.0077770968782733,
 0,
 0,
 0,
 -0.0277116347083374,
 -0.0361840063042313,
 0,
 0,
 0,
 0,
 -0.0023205712386147,
 -0.0046573603812909,
 -0.0005002918473397,
 0,
 -0.016868875996109,
 -0.0038815338582525,
 -0.0015229717809601,
 0,
 -0.0099671405422734,
 0,
 -0.009728355825282,
 0,
 -0.0071876615334272,
 -0.0101164241627573,
 -0.021237311275903,
 0,
 -0.0036379425137447,
 0,
 0,
 -0.0149484692842891,
 0,
 -0.0003382377843852,
 0,
 0,
 -0.0079302556759763,
 -0.0222195584614777,
 0,
 0,
 -0.0209874578830682,
 0,
 -0.0066382415412924,
 0,
 0,
 -0.0040656819100064,
 -0.0145204571437034,
 -0.0365914223722789,
 0,
 0,
 -0.0112162688445991,
 0,
 -0.0090439892932181,
 -0.0003245172833938,
 -0.0009741841978438,
 -0.0035801502845718,
 0,
 0,
 -0.0089257844741954,
 0,
 -0.0067275602130578,
 0,
 0,
 -0.0161626082149446,
 -0.0151298556480483,
 0,
 0,
 0,
 0,
 -0.0071886541794086,
 -0.0091382391080205,
 0,
 0,
 0,
 0,
 -0.0017226533114467,
 0,
 0,
 -0.0056593246689011,
 -0.0241252366886257,
 0,
 -0.0172898079907746,
 -0.006226854812148,
 -0.0068646740249072,
 -0.006912123688469,
 -0.0078716724957672,
 -0.0036540844556434,
 0,
 -0.0131641270378803,
 0,
 -0.0057480115905992,
 0,
 -0.0089100678565507,
 0,
 0,
 -0.0132526964324473,
 0,
 0,
 0,
 0,
 0,
 -0.0219905536535929,
 -0.0026824050418667,
 0,
 0,
 0,
 -0.0182713940398251,
 0,
 -0.0060870903844314,
 0,
 0,
 0,
 0,
 0,
 -0.0085449125099472,
 0,
 0,
 0,
 -0.013135679020932,
 0,
 0,
 0,
 -0.0094853227071478,
 -0.0232814748225571,
 -0.0405444535316181,
 0,
 0,
 -0.0107335556431085,
 -0.0096386288377683,
 -0.0302345753189339,
 -0.010789215186266,
 -0.0093778408718687,
 0,
 -0.0227083993698116,
 0,
 -0.0236561966121691,
 -0.0030935832869953,
 0,
 -0.0007726980423097,
 -0.0082794780851607,
 0,
 -0.0064143901776638,
 -0.0023192897910906,
 -0.0127224875849556,
 -0.0224609785916669,
 0,
 0,
 0,
 0,
 0,
 -0.007859616042376,
 0,
 0,
 0,
 -0.0111449988448288,
 -0.0020397763319213,
 0,
 0,
 -0.0108054826947245,
 0,
 -0.005467210437132,
 -0.0037448552065715,
 -0.0035078963558561,
 0,
 -0.000993048740991,
 -0.0094834751180084,
 -0.0085621273511673,
 0,
 -0.0190529704400628,
 0,
 0,
 0,
 -0.001227747238321,
 -0.0153506356719415,
 0,
 -0.0107676012157984,
 -0.0053010347536712,
 -0.0117109281376048,
 -0.0015376732911889,
 0,
 0,
 0,
 -0.0260817647996205,
 -0.0169827726291451,
 0,
 -0.0180696707921566,
 0,
 0,
 0,
 -0.017235153318019,
 -0.0062467667996202,
 0,
 0,
 -0.0103493808620029,
 0,
 -0.0185021564663774,
 -0.0140381063124621,
 -0.008841316802183,
 0,
 0,
 -0.0086922712439303,
 -0.0085016452553201,
 0,
 -0.0139114067991794,
 -0.0108343421657099,
 0,
 0,
 0,
 -0.0042895508133113,
 -0.0005374899350041]

In [13]:
data["asym"] = asym_list

### 欠損値を削除する

In [14]:
data = data.dropna()
data

,tom,tod,week,month,log_tom,log_tod,log_week,log_month,jump,asym
22,0.000105,0.000183,0.000099,0.000075,-9.158795,-8.605646,-9.215656,-9.492234,0.000133,0.000000
23,0.000200,0.000105,0.000104,0.000077,-8.515403,-9.158795,-9.169639,-9.470987,0.000052,0.000000
24,0.000100,0.000200,0.000130,0.000083,-9.213129,-8.515403,-8.945842,-9.396302,0.000070,-0.012145
25,0.000129,0.000100,0.000139,0.000085,-8.957312,-9.213129,-8.878672,-9.368154,0.000027,0.000000
26,0.000103,0.000129,0.000143,0.000089,-9.179210,-8.957312,-8.849551,-9.324511,0.000048,-0.042254
...,...,...,...,...,...,...,...,...,...,...
699,0.000051,0.000057,0.000054,0.000053,-9.874341,-9.766005,-9.822059,-9.836261,0.000024,0.000000
700,0.000037,0.000051,0.000055,0.000050,-10.203925,-9.874341,-9.812816,-9.895534,0.000016,0.000000
701,0.000054,0.000037,0.000052,0.000050,-9.822236,-10.203925,-9.865343,-9.908713,0.000013,0.000000
702,0.000055,0.000054,0.000055,0.000049,-9.805023,-9.822236,-9.815572,-9.923729,0.000019,-0.004290
703,0.000047,0.000055,0.000051,0.000050,-9.956589,-9.805023,-9.882593,-9.908978,0.000019,-0.000537

# リッジ回帰を行う

In [15]:
data

,tom,tod,week,month,log_tom,log_tod,log_week,log_month,jump,asym
22,0.000105,0.000183,0.000099,0.000075,-9.158795,-8.605646,-9.215656,-9.492234,0.000133,0.000000
23,0.000200,0.000105,0.000104,0.000077,-8.515403,-9.158795,-9.169639,-9.470987,0.000052,0.000000
24,0.000100,0.000200,0.000130,0.000083,-9.213129,-8.515403,-8.945842,-9.396302,0.000070,-0.012145
25,0.000129,0.000100,0.000139,0.000085,-8.957312,-9.213129,-8.878672,-9.368154,0.000027,0.000000
26,0.000103,0.000129,0.000143,0.000089,-9.179210,-8.957312,-8.849551,-9.324511,0.000048,-0.042254
...,...,...,...,...,...,...,...,...,...,...
699,0.000051,0.000057,0.000054,0.000053,-9.874341,-9.766005,-9.822059,-9.836261,0.000024,0.000000
700,0.000037,0.000051,0.000055,0.000050,-10.203925,-9.874341,-9.812816,-9.895534,0.000016,0.000000
701,0.000054,0.000037,0.000052,0.000050,-9.822236,-10.203925,-9.865343,-9.908713,0.000013,0.000000
702,0.000055,0.000054,0.000055,0.000049,-9.805023,-9.822236,-9.815572,-9.923729,0.000019,-0.004290
703,0.000047,0.000055,0.000051,0.000050,-9.956589,-9.805023,-9.882593,-9.908978,0.000019,-0.000537

元系列に対して、非対称性が存在するか確かめる

In [45]:
x_names = ["tod", "week", "month", "asym", "jump"]
ridge = Ridge().fit(data[x_names], data["tom"])
# 係数を出力する
res_coef = pd.DataFrame(ridge.coef_).T 
res_coef.columns = x_names
res_coef

        tod      week     month      asym      jump
0  0.000015  0.000012  0.000006 -0.000388  0.000005

対数系列に対して、非対称性が存在するか確かめる

In [49]:
x_names = ["log_tod", "log_week", "log_month", "asym", "jump"]
ridge = Ridge().fit(data[x_names], data["log_tom"])
# 係数を出力する
res_coef = pd.DataFrame(ridge.coef_).T 
res_coef.columns = x_names
res_coef

    log_tod  log_week  log_month    asym      jump
0  0.460301  0.357776   0.098592 -0.5741 -0.000803