# リッジ回帰を行う

## 準備

In [1]:
import pandas as pd
import numpy as np
import glob
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import Ridge
from sklearn import preprocessing

In [2]:
stock_name_list = glob.glob("../output/*.csv")
stock_name_list

['../output\\LSIML_RV_grid_data_33820_1.csv',
 '../output\\LSIML_RV_grid_data_40630_1.csv',
 '../output\\LSIML_RV_grid_data_44520_1.csv',
 '../output\\LSIML_RV_grid_data_45020_1.csv',
 '../output\\LSIML_RV_grid_data_45030_1.csv',
 '../output\\LSIML_RV_grid_data_45680_1.csv',
 '../output\\LSIML_RV_grid_data_60980_1.csv',
 '../output\\LSIML_RV_grid_data_62730_1.csv',
 '../output\\LSIML_RV_grid_data_63670_1.csv',
 '../output\\LSIML_RV_grid_data_65010_1.csv',
 '../output\\LSIML_RV_grid_data_65940_1.csv',
 '../output\\LSIML_RV_grid_data_67580_1.csv',
 '../output\\LSIML_RV_grid_data_68610_1.csv',
 '../output\\LSIML_RV_grid_data_69540_1.csv',
 '../output\\LSIML_RV_grid_data_69810_1.csv',
 '../output\\LSIML_RV_grid_data_72030_1.csv',
 '../output\\LSIML_RV_grid_data_72670_1.csv',
 '../output\\LSIML_RV_grid_data_77410_1.csv',
 '../output\\LSIML_RV_grid_data_79740_1.csv',
 '../output\\LSIML_RV_grid_data_80010_1.csv',
 '../output\\LSIML_RV_grid_data_80310_1.csv',
 '../output\\LSIML_RV_grid_data_80350_1.csv',
 '../output\\LSIML_RV_grid_data_80580_1.csv',
 '../output\\LSIML_RV_grid_data_83060_1.csv',
 '../output\\LSIML_RV_grid_data_83160_1.csv',
 '../output\\LSIML_RV_grid_data_84110_1.csv',
 '../output\\LSIML_RV_grid_data_87660_1.csv',
 '../output\\LSIML_RV_grid_data_94320_1.csv',
 '../output\\LSIML_RV_grid_data_94330_1.csv',
 '../output\\LSIML_RV_grid_data_99840_1.csv']

In [37]:
#df = pd.read_csv(stock_name_list[-1])
#df = pd.read_csv('../output\\LSIML_RV_grid_data_83160_1.csv',)
df = pd.read_csv('../output\\LSIML_RV_grid_data_79740_1.csv',)
df

,date,RV_sec1,LSIML_b=10,LSIML_b=50,LSIML_b=100,Num_jump_b=10,Num_jump_b=50,Num_jump_b=100,Size_jump_b=10,Size_jump_b=50,Size_jump_b=100
0,2018-09-03,0.0003,1.2557e-04,1.2900e-04,1.2432e-04,1,3,8,5.9723e-05,5.5565e-05,7.4039e-05
1,2018-09-04,0.0003,8.7707e-05,9.3278e-05,8.6526e-05,1,4,9,8.3818e-05,6.8108e-05,6.6061e-05
2,2018-09-05,0.0003,1.1622e-04,1.0338e-04,1.1096e-04,1,6,9,1.1015e-04,9.8978e-05,9.2860e-05
3,2018-09-06,0.0006,2.1050e-04,1.8657e-04,2.1027e-04,1,6,8,2.2990e-04,2.5934e-04,1.9319e-04
4,2018-09-07,0.0004,1.2398e-04,1.5624e-04,1.3392e-04,1,2,8,9.1736e-05,5.2454e-05,9.7131e-05
...,...,...,...,...,...,...,...,...,...,...,...
699,2021-07-26,0.0002,7.0091e-05,6.6389e-05,6.9052e-05,1,6,11,8.9562e-05,8.1791e-05,9.5708e-05
700,2021-07-27,0.0001,3.1714e-05,4.8331e-05,4.2151e-05,2,5,10,3.2898e-05,3.9226e-05,3.5617e-05
701,2021-07-28,0.0002,5.3340e-05,6.5924e-05,6.8707e-05,1,5,8,3.9158e-05,5.4075e-05,5.0421e-05
702,2021-07-29,0.0002,6.0662e-05,7.1435e-05,5.9167e-05,1,4,12,8.0946e-05,6.8094e-05,8.1292e-05
703,2021-07-30,0.0002,1.6122e-04,1.0036e-04,9.6308e-05,0,3,8,0.0000e+00,4.3088e-05,7.6389e-05

## データを読み込み、加工する

In [38]:
sec = 50
LSIML = df["LSIML_b=" + str(sec)] + df["Size_jump_b=" + str(sec)]
LSIML

0      1.8457e-04
1      1.6139e-04
2      2.0236e-04
3      4.4591e-04
4      2.0869e-04
          ...
699    1.4818e-04
700    8.7558e-05
701    1.2000e-04
702    1.3953e-04
703    1.4345e-04
Length: 704, dtype: float64

### 移動平均, 一日ずれデータを計算する

In [39]:
week = LSIML.rolling(5).mean().shift()
month = LSIML.rolling(22).mean().shift()

In [40]:
month.dropna()

22     0.0002
23     0.0002
24     0.0002
25     0.0002
26     0.0002
        ...
699    0.0001
700    0.0001
701    0.0001
702    0.0001
703    0.0001
Length: 682, dtype: float64

In [41]:
shifted_LSIML = LSIML.shift()
shifted_LSIML

0             NaN
1      1.8457e-04
2      1.6139e-04
3      2.0236e-04
4      4.4591e-04
          ...
699    1.7101e-04
700    1.4818e-04
701    8.7558e-05
702    1.2000e-04
703    1.3953e-04
Length: 704, dtype: float64

In [42]:
data = pd.concat([LSIML, shifted_LSIML, week, month], axis=1)
data.columns = ["tom", "tod", "week", "month"]
data

            tom         tod    week   month
0    1.8457e-04         NaN     NaN     NaN
1    1.6139e-04  1.8457e-04     NaN     NaN
2    2.0236e-04  1.6139e-04     NaN     NaN
3    4.4591e-04  2.0236e-04     NaN     NaN
4    2.0869e-04  4.4591e-04     NaN     NaN
..          ...         ...     ...     ...
699  1.4818e-04  1.7101e-04  0.0002  0.0001
700  8.7558e-05  1.4818e-04  0.0002  0.0001
701  1.2000e-04  8.7558e-05  0.0002  0.0001
702  1.3953e-04  1.2000e-04  0.0002  0.0001
703  1.4345e-04  1.3953e-04  0.0001  0.0001

[704 rows x 4 columns]

### ジャンプサイズ

In [43]:
data["jump"] = df["Size_jump_b=" + str(sec)].shift()

### 対数を取る

In [44]:
data["log_tom"] = np.log(data["tom"])
data["log_tod"] = np.log(data["tod"])
data["log_week"] = np.log(data["week"])
data["log_month"] = np.log(data["month"])
data

,tom,tod,week,month,jump,log_tom,log_tod,log_week,log_month
0,1.8457e-04,NaN,NaN,NaN,NaN,-8.5975,NaN,NaN,NaN
1,1.6139e-04,1.8457e-04,NaN,NaN,5.5565e-05,-8.7317,-8.5975,NaN,NaN
2,2.0236e-04,1.6139e-04,NaN,NaN,6.8108e-05,-8.5055,-8.7317,NaN,NaN
3,4.4591e-04,2.0236e-04,NaN,NaN,9.8978e-05,-7.7154,-8.5055,NaN,NaN
4,2.0869e-04,4.4591e-04,NaN,NaN,2.5934e-04,-8.4746,-7.7154,NaN,NaN
...,...,...,...,...,...,...,...,...,...
699,1.4818e-04,1.7101e-04,0.0002,0.0001,1.0924e-04,-8.8171,-8.6738,-8.7059,-8.8292
700,8.7558e-05,1.4818e-04,0.0002,0.0001,8.1791e-05,-9.3432,-8.8171,-8.6833,-8.8169
701,1.2000e-04,8.7558e-05,0.0002,0.0001,3.9226e-05,-9.0280,-9.3432,-8.6843,-8.8895
702,1.3953e-04,1.2000e-04,0.0002,0.0001,5.4075e-05,-8.8772,-9.0280,-8.7835,-8.8899
703,1.4345e-04,1.3953e-04,0.0001,0.0001,6.8094e-05,-8.8495,-8.8772,-8.9232,-8.8824

In [45]:
data["log_jump"] = np.log(1 + preprocessing.scale(data["jump"]))
data

,tom,tod,week,month,jump,log_tom,log_tod,log_week,log_month,log_jump
0,1.8457e-04,NaN,NaN,NaN,NaN,-8.5975,NaN,NaN,NaN,NaN
1,1.6139e-04,1.8457e-04,NaN,NaN,5.5565e-05,-8.7317,-8.5975,NaN,NaN,-0.6224
2,2.0236e-04,1.6139e-04,NaN,NaN,6.8108e-05,-8.5055,-8.7317,NaN,NaN,-0.4450
3,4.4591e-04,2.0236e-04,NaN,NaN,9.8978e-05,-7.7154,-8.5055,NaN,NaN,-0.1086
4,2.0869e-04,4.4591e-04,NaN,NaN,2.5934e-04,-8.4746,-7.7154,NaN,NaN,0.8014
...,...,...,...,...,...,...,...,...,...,...
699,1.4818e-04,1.7101e-04,0.0002,0.0001,1.0924e-04,-8.8171,-8.6738,-8.7059,-8.8292,-0.0178
700,8.7558e-05,1.4818e-04,0.0002,0.0001,8.1791e-05,-9.3432,-8.8171,-8.6833,-8.8169,-0.2818
701,1.2000e-04,8.7558e-05,0.0002,0.0001,3.9226e-05,-9.0280,-9.3432,-8.6843,-8.8895,-0.9139
702,1.3953e-04,1.2000e-04,0.0002,0.0001,5.4075e-05,-8.8772,-9.0280,-8.7835,-8.8899,-0.6458
703,1.4345e-04,1.3953e-04,0.0001,0.0001,6.8094e-05,-8.8495,-8.8772,-8.9232,-8.8824,-0.4452

### 日次データを読み込む

In [47]:
#daily_data = pd.read_csv("../data/daily_data\Daily_Price_mitsuifin.csv").shift()
daily_data = pd.read_csv("../data/daily_data/Daily_Price_79740_1.csv").shift()
daily_data

           date  log_price  daily_return
0           NaN        NaN           NaN
1    2018-09-03    10.5989           NaN
2    2018-09-04    10.5904       -0.0085
3    2018-09-05    10.5878       -0.0025
4    2018-09-06    10.5511       -0.0367
..          ...        ...           ...
699  2021-07-21    10.9991       -0.0025
700  2021-07-26    11.0041        0.0050
701  2021-07-27    11.0092        0.0051
702  2021-07-28    10.9883       -0.0209
703  2021-07-29    10.9804       -0.0080

[704 rows x 3 columns]

In [48]:
asym_list = []
for i in range(len(daily_data)):
    asym_list.append(min([0, daily_data["daily_return"].iloc[i]]))

In [49]:
data["asym"] = asym_list

### 欠損値を削除する

In [50]:
data = data.dropna()
data

,tom,tod,week,month,jump,log_tom,log_tod,log_week,log_month,log_jump,asym
22,2.5251e-04,3.2770e-04,0.0002,0.0002,1.3392e-04,-8.2841,-8.0234,-8.6360,-8.4684,0.1716,-0.0132
23,1.9129e-04,2.5251e-04,0.0002,0.0002,1.2283e-04,-8.5617,-8.2841,-8.5246,-8.4538,0.0909,0.0000
24,2.1680e-04,1.9129e-04,0.0002,0.0002,3.0469e-05,-8.4365,-8.5617,-8.4727,-8.4474,-1.1140,-0.0256
25,3.5609e-04,2.1680e-04,0.0002,0.0002,7.6684e-05,-7.9403,-8.4365,-8.3914,-8.4444,-0.3397,-0.0060
26,3.1382e-04,3.5609e-04,0.0003,0.0002,1.3192e-04,-8.0667,-7.9403,-8.2213,-8.4635,0.1576,-0.0318
...,...,...,...,...,...,...,...,...,...,...,...
699,1.4818e-04,1.7101e-04,0.0002,0.0001,1.0924e-04,-8.8171,-8.6738,-8.7059,-8.8292,-0.0178,-0.0025
700,8.7558e-05,1.4818e-04,0.0002,0.0001,8.1791e-05,-9.3432,-8.8171,-8.6833,-8.8169,-0.2818,0.0000
701,1.2000e-04,8.7558e-05,0.0002,0.0001,3.9226e-05,-9.0280,-9.3432,-8.6843,-8.8895,-0.9139,0.0000
702,1.3953e-04,1.2000e-04,0.0002,0.0001,5.4075e-05,-8.8772,-9.0280,-8.7835,-8.8899,-0.6458,-0.0209
703,1.4345e-04,1.3953e-04,0.0001,0.0001,6.8094e-05,-8.8495,-8.8772,-8.9232,-8.8824,-0.4452,-0.0080

# リッジ回帰で予測する

In [51]:
data

,tom,tod,week,month,jump,log_tom,log_tod,log_week,log_month,log_jump,asym
22,2.5251e-04,3.2770e-04,0.0002,0.0002,1.3392e-04,-8.2841,-8.0234,-8.6360,-8.4684,0.1716,-0.0132
23,1.9129e-04,2.5251e-04,0.0002,0.0002,1.2283e-04,-8.5617,-8.2841,-8.5246,-8.4538,0.0909,0.0000
24,2.1680e-04,1.9129e-04,0.0002,0.0002,3.0469e-05,-8.4365,-8.5617,-8.4727,-8.4474,-1.1140,-0.0256
25,3.5609e-04,2.1680e-04,0.0002,0.0002,7.6684e-05,-7.9403,-8.4365,-8.3914,-8.4444,-0.3397,-0.0060
26,3.1382e-04,3.5609e-04,0.0003,0.0002,1.3192e-04,-8.0667,-7.9403,-8.2213,-8.4635,0.1576,-0.0318
...,...,...,...,...,...,...,...,...,...,...,...
699,1.4818e-04,1.7101e-04,0.0002,0.0001,1.0924e-04,-8.8171,-8.6738,-8.7059,-8.8292,-0.0178,-0.0025
700,8.7558e-05,1.4818e-04,0.0002,0.0001,8.1791e-05,-9.3432,-8.8171,-8.6833,-8.8169,-0.2818,0.0000
701,1.2000e-04,8.7558e-05,0.0002,0.0001,3.9226e-05,-9.0280,-9.3432,-8.6843,-8.8895,-0.9139,0.0000
702,1.3953e-04,1.2000e-04,0.0002,0.0001,5.4075e-05,-8.8772,-9.0280,-8.7835,-8.8899,-0.6458,-0.0209
703,1.4345e-04,1.3953e-04,0.0001,0.0001,6.8094e-05,-8.8495,-8.8772,-8.9232,-8.8824,-0.4452,-0.0080

元系列に対して、非対称性が存在するか確かめる

In [52]:
x_names = ["tod", "week", "month", "asym", "jump"]
ridge = Ridge().fit(data[x_names], data["tom"])
# 係数を出力する
res_coef = pd.DataFrame(ridge.coef_).T 
res_coef.columns = x_names
res_coef

          tod        week       month    asym        jump
0  2.7228e-05  2.1773e-05  9.8402e-06 -0.0005  1.1814e-05

## 予測を行う

In [53]:
def ridge_rolling(X, Y, not_log_y = False, log_flag=False, gauussian_flag = False):
    """
    リッジ回帰でローリングウィンドウの一期先予測を行う
    ハイパーパラメータαは[0.001, 0.011, 0.021,..., 0.091]からクロスバリデーションで選択する
    """
    # 学習データを作成
    train_length = len(X) // 2

    MSE_list = []
    MAE_list = []
    HMSE_list = []
    for i in range(len(X) - train_length):
        # 学習データを作成
        train_x = X.iloc[i : train_length + i]
        train_y = Y.iloc[i : train_length + i]

        # テストデータを作成
        test_x = X.iloc[train_length + i]
        # 変形
        test_x = np.array(test_x).reshape([1, len(test_x)])
        
        # モデルを作成
        mod1 = RidgeCV(alphas=np.array(list(range(1, 101, 20))) * 0.000001, cv=10)
        mod1.fit(train_x, train_y)
        
        # 残差を計算する
        residual = mod1.predict(train_x) - train_y
        # 残差分散
        var_res = np.var(residual)
        #print(var_res)

        #print(mod1.alpha_)

        # 予測を行う
        pred_y = mod1.predict(test_x)

        if log_flag:
            # 対数モデルの場合、対数を取っていない真値を別に与える
            test_y = not_log_y.iloc[train_length + i]

            if gauussian_flag:
                # 誤差項の分布に正規分布を仮定する
                pred_y = np.exp(pred_y + var_res / 2)
            else:
                # 誤差項の分布を特に仮定しない（単にexp変換を行う）
                pred_y = np.exp(pred_y)
        else:
            test_y = Y.iloc[train_length + i]


        dif_ = (test_y - pred_y) ** 2
        abs_ = abs(test_y - pred_y)
        hmse_ = (1 - pred_y / test_y) ** 2

        MSE_list.append(float(dif_))
        MAE_list.append(float(abs_))
        HMSE_list.append(float(hmse_))

    MSE = np.mean(MSE_list)
    MAE = np.mean(MAE_list)
    HMSE = np.mean(HMSE_list)

    return {
        "MSE": MSE,
        "MAE": MAE,
        "HMSE": HMSE,
    }

In [54]:
np.array(list(range(1, 101, 20))) * 0.000001

array([1.0e-06, 2.1e-05, 4.1e-05, 6.1e-05, 8.1e-05])

### 非対数モデル

In [55]:
result_list = []

In [56]:
x_names = ["tod", "week", "month"]
X = data[x_names]
Y = data["tom"]

result = ridge_rolling(X, Y)

result_list.append(result)
result

{'MSE': 3.8945160721772524e-08,
 'MAE': 8.732849689258253e-05,
 'HMSE': 0.25335502586650327}

In [57]:
x_names = ["tod", "week", "month", "jump"]
X = data[x_names]
Y = data["tom"]

result = ridge_rolling(X, Y)
result_list.append(result)
result

{'MSE': 3.979516557162619e-08,
 'MAE': 8.731532927009434e-05,
 'HMSE': 0.2508551380262098}

In [58]:
x_names = ["tod", "week", "month", "asym"]
X = data[x_names]
Y = data["tom"]

result = ridge_rolling(X, Y)
result_list.append(result)
result

{'MSE': 3.847719521317993e-08,
 'MAE': 8.849470976086359e-05,
 'HMSE': 0.25467670360631833}

In [59]:
x_names = ["tod", "week", "month", "asym", "jump"]
X = data[x_names]
Y = data["tom"]

result = ridge_rolling(X, Y)
result_list.append(result)
result

{'MSE': 3.926872350472584e-08,
 'MAE': 8.84799611443413e-05,
 'HMSE': 0.25216615509905255}

### 対数モデル（誤差項に正規分布を仮定）

In [60]:
x_names = ["log_tod", "log_week", "log_month"]
X = data[x_names]
Y = data["log_tom"]

result = ridge_rolling(X, Y, data["tom"], log_flag=True, gauussian_flag = True)
result_list.append(result)
result

{'MSE': 3.700038709507087e-08,
 'MAE': 8.598255765343632e-05,
 'HMSE': 0.22885846033413795}

In [61]:
x_names = ["log_tod", "log_week", "log_month", "log_jump"]
X = data[x_names]
Y = data["log_tom"]

result = ridge_rolling(X, Y, data["tom"], log_flag=True, gauussian_flag = True)
result_list.append(result)
result

{'MSE': 3.5496717282450524e-08,
 'MAE': 8.356658344776558e-05,
 'HMSE': 0.20686096209381813}

In [62]:
x_names = ["log_tod", "log_week", "log_month", "asym"]
X = data[x_names]
Y = data["log_tom"]

result = ridge_rolling(X, Y, data["tom"], log_flag=True, gauussian_flag = True)
result_list.append(result)
result

{'MSE': 3.574131362260926e-08,
 'MAE': 8.338414041601467e-05,
 'HMSE': 0.21515930021297305}

In [63]:
x_names = ["log_tod", "log_week", "log_month", "log_jump", "asym"]
X = data[x_names]
Y = data["log_tom"]

result = ridge_rolling(X, Y, data["tom"], log_flag=True, gauussian_flag = True)
result_list.append(result)
result

{'MSE': 3.452245615391527e-08,
 'MAE': 8.152961699710155e-05,
 'HMSE': 0.19641541271471888}

### 対数モデル（誤差項の分布指定なし）

In [64]:
x_names = ["log_tod", "log_week", "log_month"]
X = data[x_names]
Y = data["log_tom"]

result = ridge_rolling(X, Y, data["tom"], log_flag=True, gauussian_flag = False)
result_list.append(result)
result

{'MSE': 3.761006185510469e-08,
 'MAE': 8.146634885323915e-05,
 'HMSE': 0.17091104315901454}

In [65]:
x_names = ["log_tod", "log_week", "log_month", "log_jump"]
X = data[x_names]
Y = data["log_tom"]

result = ridge_rolling(X, Y, data["tom"], log_flag=True, gauussian_flag = False)
result_list.append(result)
result

{'MSE': 3.6449989439222124e-08,
 'MAE': 7.971178441173901e-05,
 'HMSE': 0.15602715346312512}

In [66]:
x_names = ["log_tod", "log_week", "log_month", "asym"]
X = data[x_names]
Y = data["log_tom"]

result = ridge_rolling(X, Y, data["tom"], log_flag=True, gauussian_flag = False)
result_list.append(result)
result

{'MSE': 3.6635463693881835e-08,
 'MAE': 7.981667000291764e-05,
 'HMSE': 0.16208698660472734}

In [67]:
x_names = ["log_tod", "log_week", "log_month", "log_jump", "asym"]
X = data[x_names]
Y = data["log_tom"]

result = ridge_rolling(X, Y, data["tom"], log_flag=True, gauussian_flag = False)
result_list.append(result)
result

{'MSE': 3.568710903431191e-08,
 'MAE': 7.866424670878921e-05,
 'HMSE': 0.14933751519614377}

In [68]:
# 桁を設定
pd.options.display.precision = 4

MSE = []
MAE = []
HMSE = []

for res in result_list:
    MSE.append(res["MSE"])
    MAE.append(res["MAE"])
    HMSE.append(res["HMSE"])

result_df = pd.DataFrame([MSE, MAE, HMSE]).T
result_df.columns = ["MSE", "MAE", "HMSE"]
result_df

           MSE         MAE    HMSE
0   3.8945e-08  8.7328e-05  0.2534
1   3.9795e-08  8.7315e-05  0.2509
2   3.8477e-08  8.8495e-05  0.2547
3   3.9269e-08  8.8480e-05  0.2522
4   3.7000e-08  8.5983e-05  0.2289
5   3.5497e-08  8.3567e-05  0.2069
6   3.5741e-08  8.3384e-05  0.2152
7   3.4522e-08  8.1530e-05  0.1964
8   3.7610e-08  8.1466e-05  0.1709
9   3.6450e-08  7.9712e-05  0.1560
10  3.6635e-08  7.9817e-05  0.1621
11  3.5687e-08  7.8664e-05  0.1493